:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  min-width: 320px;
  background: #f5f7fa;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
}

.layout-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.layout-aside {
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  width: 200px !important;
  overflow: hidden;
  background: #fff;
}

.layout-main {
  position: relative;
  margin-top: 60px;
  margin-left: 200px;
  height: calc(100% - 60px);
  overflow: auto;
  padding: 16px;
  box-sizing: border-box;
}
